   <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                       <h1 class="brand-heading"><h4>MELEK ZURNACI</h4></h1>
                        <p class="intro-text"><br>
                       <p>Öncelikle herkese merhaba  kısacık kendimden bahsetmek istiyorum .
                        1996 yılında doğdum . Karabük Cumhuriyet Anadolu Lisesi mezunuyum.
                        Karabük Üniversitesi Bilgisayar Mühendisliği Bölümünde öğrenimime devam ediyorum.
                       <h4>Şimdi blog yazıma geçebiliriz</h4>
                       </p>
                       
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
